<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>ProQuest'16</h1>
    <p>Upload your picture to get it ProQuest'ified!</p>
    
    <input type="file" id="upload" />

      <input type="button" class="btn btn-lg btn-default"
       onclick="document.getElementById('upload').click()" 
       value="Upload Picture" />

    <a type="file" id="upload" name="upload" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-upload"></span> Upload Picture</a>
    

 
    <a type="button" id="magic" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-flash"></span> Do the Magic!</a>
  </div>
</div>


<div id="response"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#magic').click(function() {
            
            $.get('http://localhost:5000/magic', function(list) {
                alert("And here we go!");
            });
        });
    });
    </script>

</body>
</html>
