<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<!--  <% include ../partials/nav.ejs %>-->
<form action="/upload" method="post" enctype="multipart/form-data">  
  <label for="file">Select your image:</label>
  <input type="file" name="file" id="file" />
  <span class="hint">Supported files: jpg, jpeg, png.</span>
  <button type="submit">upload</button>
</form>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>ProQuest'16</h1>
    <p>Upload your picture to get it ProQuest'ified!</p>
    <a type="button" name="upload" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Upload Picture</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Do the Magic!</a>
  </div>
</div>



</body>
</html>
