<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.jpg">
    </a>
    <h1>ProQuest'16</h1>
    <p>Upload your picture to get it ProQuest'ified!</p>
    
    
    

    <form name="uploadForm" method="post" action="/upload" enctype="multipart/form-data" class="btn btn-lg btn-default">
    <input type="file" name="theFile" class="btn btn-lg btn-default">
    <input type="submit" value="Do the Magic!" id="upload" name="upload" class="btn btn-lg btn-primary"></input>
    </form>

<!-- Upload 

    <a type="button" id="magic" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-flash"></span> Do the Magicaaa!</a>
-->
  </div>
</div>
<script type="text/javascript">

$('#uploadForm')
    .ajaxForm({
        url : '/upload', // or whatever
        dataType : 'string',
        success : function (response) {
            alert("The server says: " + response);
        }
    })
;
  </script>

<!-- 
<div id="response"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#magic').click(function() {
            
            $.get('http://localhost:5000/magic', function(list) {
                alert("And here we go!");
            });
        });
    });
    </script>
-->
<!-- Upload 
<div id="response"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#upload').click(function() {
            
            $.post('http://localhost:5000/upload', function(list) {
                alert("Uploading");
            });
        });
    });
    </script> -->
</body>
</html>
